Options +FollowSymLinks
RewriteEngine On
RewriteRule profile/id/(.*)/ profile.php?id=$1
RewriteRule profile/id/(.*) profile.php?id=$1	
ErrorDocument 404 /404.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php
